<head>
  <meta charset="UTF-8">
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
  <section id="container">
    <section class="page-header">
      <h2>
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </h2>
    </section>
  </section>
</body>
